.side-container img{
  width: 33vw;
  height: 100vh;
  position: relative;
}

.side-container>.logo-container{
  position: absolute;
  top: 20vh;
  width: 33vw;
  height: 200px;
  background-color: rgba(0, 0, 0,0.3);
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap:2rem;
  flex: 0 0 100%;
  /* flex:0 1; */
}

.logo-container>h1{
  font-size: 5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 100%;
  color: white;
}


.logo-container>img{
  width: 100px;
  height: 100px;
  
}

body{
  padding: 0;
  margin: 0;
  display: flex;
}

.main-container{
  /* padding: 10vh 20px 0px; */
  background-color: rgb(240, 240, 240);
}
form>*{
  display: block;
}

.form-container{
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px #888888 ;
  width: auto;

}