:root{
  --side-panel-width: 33vw;
  --main-padding: 2.5rem;
  --theme-color: #03C8D8;
  --alt-color: #964912;
}

@font-face {
  font-family: "DMSerif";
  src: url(fonts/DMSerifDisplay-Regular.ttf);
}

.side-container{
  height: auto;
}

.side-container > .img{
  width: var(--side-panel-width);
  height: 100vh;
  min-width: 350px;
  /* min-height: 800px; */
  background-image: url(img/jonne-huotari-unsplash.jpg);
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
}

.side-container>.logo-container{
  position: absolute;
  top: 15vh;
  width: var(--side-panel-width);
  min-width: 350px;
  padding: 1.5rem 0;
  background-color: rgba(0, 0, 0,0.3);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.3rem;
  overflow: hidden;
}

.side-container .shoutout{
  position:100%;
  top:100%;
  color: white;
  background-color: rgba(175, 94, 73, 0.5);
}

.shoutout a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo-container>h1{
  font-size: 4rem;
  font-family:"DMSerif";
  opacity: 100%;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

.logo-container>img{
  width: 150px;
  height: 150px;
  
}

body{
  padding: 0;
  margin: 0;
  display: flex;
}

.main-container{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


.main-container> .top{
  padding: 15vh var(--main-padding) 3vh;
  background-color: rgb(240, 240, 240);
}

.top p{
  max-width: 900px;
  font-size: 1.3rem;
  font-weight: bold;
}

.bottom{
  padding: var(--main-padding);
}

.bottom p {
  font-size: 1rem;
  font-weight: 600;
}

.bottom a{
  text-decoration: none;
  color: var(--theme-color);
  font-weight: 800;
}

.bottom button{
  background-color: var(--theme-color);
  color: white;
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.05rem;
  box-shadow: 1px 1px 5px #888888;
  margin-bottom: 1rem;
}

.bottom button:hover{
  cursor: pointer;
}

.bottom button:active{
  background-color:#018995
}

.form-container>h2{
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}

.form-container{
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px #888888;
  width: auto;
  padding: var(--main-padding);
  margin: 0;
}

form>div {
  display: flex;
  gap: 5vh;
}
form > div > div{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-container label{
  color: #666;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

.form-container input{
  width: 40ch;
  appearance: none;
  border: #E5E7EB 2px solid;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 1px 0;
  outline: none;
}
.form-container input:focus{
  border: var(--theme-color) 1px solid;
  box-shadow: 2px 2px 3px #888888;
}

#phone:invalid + #ph-msg, #email:invalid + #em-msg{
  display: block;
}

.form-field span{
  color: var(--alt-color);
  font-size: 0.8rem;
  display: none;
}

input.req, input.bad-input, input:invalid{

  border: var(--alt-color) 1px solid;
}

